# build and releases binaries for pvm when a new tag is pushed
name: Build & Release
run-name: Build & Release (${{ github.ref_name }})

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    
    env:
      UV_CACHE_DIR: $RUNNER_TEMP\.uv-cache


    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run PowerShell build script
        env:
          PVM_VERSION: ${{ github.ref_name }}
        shell: pwsh
        run: |
          Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
          ./powershell/build.ps1

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          generate_release_notes: true
          make_latest: true
          files: |
            dist/pvm.exe
            LICENSE